FUNDAMENTAL DATAFRAME OPERATIONS

In [0]:
spark

In [0]:
from pyspark.sql.type import *

In [0]:
'''
Let us start by creating My_data where data of the table is stored in the form of LIST[tuple]. And each tuple value represents a column data.
This means here in the below example we can say that the table consists of two columns!
'''

my_data =[(1,2),(2,3),(3,4),(4,5),(5,6)]

In [0]:
'''
Let us define the columns now. Column names has to be in String format!
'''

my_column_data = ['id','salary']

In [0]:
'''
Now we will create a dataframe using above values and using createDataFrame module like below.
createDataFrame takes two arguments, (1.Data) (2.schema_name)
'''

my_first_dataframe = spark.createDataFrame(data=my_data,schema=my_column_data)

In [0]:
my_first_dataframe.show()

+---+------+
| id|salary|
+---+------+
|  1|     2|
|  2|     3|
|  3|     4|
|  4|     5|
|  5|     6|
+---+------+