FUNDAMENTAL DATAFRAME OPERATIONS

In [0]:
spark

In [0]:
'''
FIRST OF ALL YOU NEED TO MAKE A DATAFRAME OR LOAD DF INTO ONE VARIABLE IN ORDER TO DO OPERATIONS ON IT... (pretty basic na?)
SO LETS US DO IT!! I'll use same file that i used in LECTURE 1!
'''

flight_data = spark.read.format("csv")\
  .option("inferschema","True")\
  .option("mode","failfast")\
  .option("header","True")\
  .load("/FileStore/tables/flight_data.csv")

In [0]:
''' 
FIRST WE WILL SEE WHAT DOES OUR SCHEMA LOOK LIKE 
'''
flight_data.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

In [0]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [0]:
'''
Here we will try to learn basic select syntax to see columns in a dataframe
There are 2 methods where we can select column names from a dataframe.

1. use select method
Select("column_name","column_name",.... )

'''
flight_data.select("DEST_COUNTRY_NAME","count").show(5)

+-----------------+-----+
|DEST_COUNTRY_NAME|count|
+-----------------+-----+
|    United States|    1|
|    United States|  264|
|    United States|   69|
|            Egypt|   24|
|Equatorial Guinea|    1|
+-----------------+-----+
only showing top 5 rows

In [0]:
'''
Here we will try to learn basic select syntax to see columns in a dataframe
There are 2 methods where we can select column names from a dataframe.

2. Use COL method
Select(COL("Column_name"),COL("column_name"))
'''
flight_data.select(col("DEST_COUNTRY_NAME"),col("count")).show(5)

+-----------------+-----+
|DEST_COUNTRY_NAME|count|
+-----------------+-----+
|    United States|    1|
|    United States|  264|
|    United States|   69|
|            Egypt|   24|
|Equatorial Guinea|    1|
+-----------------+-----+
only showing top 5 rows

In [0]:
'''
Let us select all from dataframe
'''

flight_data.select("*").show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [0]:
''' 
GUYS SPOT THE DIFFERENCE !
''' 

flight_data.select(col("DEST_COUNTRY_NAME"),col("count")).show(5)

+-----------------+-----+
|DEST_COUNTRY_NAME|count|
+-----------------+-----+
|    United States|    1|
|    United States|  264|
|    United States|   69|
|            Egypt|   24|
|Equatorial Guinea|    1|
+-----------------+-----+
only showing top 5 rows

In [0]:
''' 
See the difference is how you use "expr"! Here i have used expr which will add a new column in the dataframe 
based on whatever the expression is!
'''

flight_data.select(col("DEST_COUNTRY_NAME"),expr("count + 5 "),col("count")).show(5)

+-----------------+-----------+-----+
|DEST_COUNTRY_NAME|(count + 5)|count|
+-----------------+-----------+-----+
|    United States|          6|    1|
|    United States|        269|  264|
|    United States|         74|   69|
|            Egypt|         29|   24|
|Equatorial Guinea|          6|    1|
+-----------------+-----------+-----+
only showing top 5 rows