FUNDAMENTAL DATAFRAME OPERATIONS

In [0]:
spark

In [0]:
'''
FIRST OF ALL YOU NEED TO MAKE A DATAFRAME OR LOAD DF INTO ONE VARIABLE IN ORDER TO DO OPERATIONS ON IT... (pretty basic na?)
SO LETS US DO IT!! I'll use same file that i used in LECTURE 1!
'''

flight_data = spark.read.format("csv")\
  .option("inferschema","True")\
  .option("mode","failfast")\
  .option("header","True")\
  .load("/FileStore/tables/flight_data.csv")

In [0]:
''' 
FIRST WE WILL SEE WHAT DOES OUR SCHEMA LOOK LIKE 
'''
flight_data.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

In [0]:
from pyspark.sql import *
from pyspark.sql.functions import *

In [0]:
'''
Here we will try to learn basic select syntax to see columns in a dataframe
There are 2 methods where we can select column names from a dataframe.

1. use select method
Select("column_name","column_name",.... )

'''
flight_data.select("DEST_COUNTRY_NAME","count").show(5)

+-----------------+-----+
|DEST_COUNTRY_NAME|count|
+-----------------+-----+
|    United States|    1|
|    United States|  264|
|    United States|   69|
|            Egypt|   24|
|Equatorial Guinea|    1|
+-----------------+-----+
only showing top 5 rows

In [0]:
'''
Here we will try to learn basic select syntax to see columns in a dataframe
There are 2 methods where we can select column names from a dataframe.

2. Use COL method
Select(COL("Column_name"),COL("column_name"))
'''
flight_data.select(col("DEST_COUNTRY_NAME"),col("count")).show(5)

+-----------------+-----+
|DEST_COUNTRY_NAME|count|
+-----------------+-----+
|    United States|    1|
|    United States|  264|
|    United States|   69|
|            Egypt|   24|
|Equatorial Guinea|    1|
+-----------------+-----+
only showing top 5 rows