In [0]:
spark

In [0]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [0]:

transform_datafm = spark.read \
    .format("csv")\
    .option("header","true")\
    .option("inferschema","false")\
    .option("mode","FAILFAST")\
    .load("/FileStore/tables/flight_data.csv")

transform_datafm.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
my_data =[(1,'Aaditya',150000,'Amazon','United States'),(2,'Sru',200000,'Apple','United States'),
          (3,'Raj',100000,'FaceBook','India'),(4,'XoXo',300000,'Google','India'),
          (5,'Chen',180000,'Meta','China')]
my_column_data = ['id','name','salary','company','country']

In [0]:
my_first_dataframe = spark.createDataFrame(data=my_data,schema=my_column_data)

In [0]:
my_first_dataframe.show()

+---+-------+------+--------+-------------+
| id|   name|salary| company|      country|
+---+-------+------+--------+-------------+
|  1|Aaditya|150000|  Amazon|United States|
|  2|    Sru|200000|   Apple|United States|
|  3|    Raj|100000|FaceBook|        India|
|  4|   XoXo|300000|  Google|        India|
|  5|   Chen|180000|    Meta|        China|
+---+-------+------+--------+-------------+

In [0]:
my_first_dataframe.select(col('id')).show()

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
+---+

In [0]:
''' 
This is where our transformation starts. First we will begin from selecting basic columns and we will implement :
1. Alias
2. Literal
3. Filter
4. Where
5. Add column 
'''
# Aliasing

my_first_dataframe.select(col('id').alias('Employee_id'),"name","salary","company","country").show()

+-----------+-------+------+--------+-------------+
|Employee_id|   name|salary| company|      country|
+-----------+-------+------+--------+-------------+
|          1|Aaditya|150000|  Amazon|United States|
|          2|    Sru|200000|   Apple|United States|
|          3|    Raj|100000|FaceBook|        India|
|          4|   XoXo|300000|  Google|        India|
|          5|   Chen|180000|    Meta|        China|
+-----------+-------+------+--------+-------------+