In [0]:
spark

In [0]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [0]:

transform_datafm = spark.read \
    .format("csv")\
    .option("header","true")\
    .option("inferschema","false")\
    .option("mode","FAILFAST")\
    .load("/FileStore/tables/flight_data.csv")

transform_datafm.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
''' Normal create dataframe attributes'''


my_data =[(1,'Aaditya',150000,'Amazon','United States'),(2,'Sru',200000,'Apple','United States'),
          (3,'Raj',100000,'FaceBook','India'),(4,'XoXo',300000,'Google','India'),
          (5,'Chen',180000,'Meta','China')]
my_column_data = StructType([
    StructField("id", IntegerType(), nullable=True),   # nullable column
    StructField("name", StringType(), nullable=True),
    StructField("salary", IntegerType(), nullable=True),
    StructField("Company", StringType(), nullable=True),
    StructField("country", StringType(), nullable=True), 

])

In [0]:
my_first_dataframe = spark.createDataFrame(data=my_data,schema=my_column_data)

In [0]:
''' This is something new and you should know about this, this is column function which lists column names related with the schema '''

my_first_dataframe.columns

Out[22]: ['id', 'name', 'salary', 'Company', 'country']

In [0]:
''' this is more advanced than .column function, it prints datatype of each column'''
# while creating the dataframe if you havnt specified if the columns are nullable or not , it will bydefault set the nullable as TRUE.
#Then your next question may be that , how to set it to false ? 
''' So to answer that, you have to set it while creating the columns itself using structType or StructFiled, like : # Define schema with nullable settings
schema = StructType([
    StructField("name", StringType(), nullable=True),   # nullable column
    StructField("age", IntegerType(), nullable=False)    # non-nullable column
])'''

my_first_dataframe.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- Company: string (nullable = true)
 |-- country: string (nullable = true)

In [0]:
my_first_dataframe.select("*",col('id')).show()

+---+-------+------+--------+-------------+---+
| id|   name|salary| Company|      country| id|
+---+-------+------+--------+-------------+---+
|  1|Aaditya|150000|  Amazon|United States|  1|
|  2|    Sru|200000|   Apple|United States|  2|
|  3|    Raj|100000|FaceBook|        India|  3|
|  4|   XoXo|300000|  Google|        India|  4|
|  5|   Chen|180000|    Meta|        China|  5|
+---+-------+------+--------+-------------+---+

In [0]:
''' 
This is where our transformation starts. First we will begin from selecting basic columns and we will implement :
1. Alias
2. Literal
3. Filter
4. Where
5. Add column 
6. Remove column
7. Casting
'''
# Aliasing

my_first_dataframe.select(col('id').alias('Employee_id'),"name","salary","company","country").show()

+-----------+-------+------+--------+-------------+
|Employee_id|   name|salary| company|      country|
+-----------+-------+------+--------+-------------+
|          1|Aaditya|150000|  Amazon|United States|
|          2|    Sru|200000|   Apple|United States|
|          3|    Raj|100000|FaceBook|        India|
|          4|   XoXo|300000|  Google|        India|
|          5|   Chen|180000|    Meta|        China|
+-----------+-------+------+--------+-------------+

In [0]:
''' 
This is where our transformation starts. First we will begin from selecting basic columns and we will implement :
1. Alias
2. Literal
3. Filter
4. Where
5. Add column 
6. Remove column
7. Casting
'''
# Literal --- is used to add a literal (constant) value to a DataFrame, allowing you to include a fixed value in expressions, transformations, or new columns.

my_first_dataframe.select('*',lit("Bhilegaonkar").alias("Last_name")).show()

+---+-------+------+--------+-------------+------------+
| id|   name|salary| Company|      country|   Last_name|
+---+-------+------+--------+-------------+------------+
|  1|Aaditya|150000|  Amazon|United States|Bhilegaonkar|
|  2|    Sru|200000|   Apple|United States|Bhilegaonkar|
|  3|    Raj|100000|FaceBook|        India|Bhilegaonkar|
|  4|   XoXo|300000|  Google|        India|Bhilegaonkar|
|  5|   Chen|180000|    Meta|        China|Bhilegaonkar|
+---+-------+------+--------+-------------+------------+

In [0]:
''' 
This is where our transformation starts. First we will begin from selecting basic columns and we will implement :
1. Alias
2. Literal
3. Filter
4. Where
5. Add column 
6. Remove column
7. Casting
'''
# FILTER/WHERE --- A where condition basically

''' Filtering : 
.select to show specific columns
'''

my_first_dataframe.filter(col('salary') > 150000).show()

+---+----+------+-------+-------------+
| id|name|salary|Company|      country|
+---+----+------+-------+-------------+
|  2| Sru|200000|  Apple|United States|
|  4|XoXo|300000| Google|        India|
|  5|Chen|180000|   Meta|        China|
+---+----+------+-------+-------------+

In [0]:
''' Filtering with AND or OR:  A where condition basically
'''
my_first_dataframe.filter((col('country')=='India') & (col('salary') > 150000)).show()

+---+----+------+-------+-------+
| id|name|salary|Company|country|
+---+----+------+-------+-------+
|  4|XoXo|300000| Google|  India|
+---+----+------+-------+-------+

In [0]:
''' 
This is where our transformation starts. First we will begin from selecting basic columns and we will implement :
1. Alias
2. Literal
3. Filter
4. Where
5. Add column 
6. Remove column
7. Casting
'''

#Add column -- used to add a column in dataframe using "withColumn"

my_first_dataframe.withColumn("surname",lit("Kumar")).show()

+---+-------+------+--------+-------------+-------+
| id|   name|salary| Company|      country|surname|
+---+-------+------+--------+-------------+-------+
|  1|Aaditya|150000|  Amazon|United States|  Kumar|
|  2|    Sru|200000|   Apple|United States|  Kumar|
|  3|    Raj|100000|FaceBook|        India|  Kumar|
|  4|   XoXo|300000|  Google|        India|  Kumar|
|  5|   Chen|180000|    Meta|        China|  Kumar|
+---+-------+------+--------+-------------+-------+

In [0]:
''' 
This is where our transformation starts. First we will begin from selecting basic columns and we will implement :
1. Alias
2. Literal
3. Filter
4. Where
5. Add column 
6. Remove column
7. Casting
'''

#Remove column -- used to add a column in dataframe using "withColumn"

my_first_dataframe.drop("id",col("name")).show()

+------+--------+-------------+
|salary| Company|      country|
+------+--------+-------------+
|150000|  Amazon|United States|
|200000|   Apple|United States|
|100000|FaceBook|        India|
|300000|  Google|        India|
|180000|    Meta|        China|
+------+--------+-------------+

In [0]:
''' 
This is where our transformation starts. First we will begin from selecting basic columns and we will implement :
1. Alias
2. Literal
3. Filter
4. Where
5. Add column 
6. Remove column
7. Casting
'''

#Casting-- used to add a column in dataframe using "withColumn"

my_first_dataframe.withColumn("id",col("id").cast("String")).printSchema() # changed from int to string

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- Company: string (nullable = true)
 |-- country: string (nullable = true)

In [0]:
''' 
This is where our transformation starts. First we will begin from selecting basic columns and we will implement :
1. Alias
2. Literal
3. Filter
4. Where
5. Add column 
6. Remove column
7. Casting
'''

#Casting-- used to add a column in dataframe using "withColumn"

my_first_dataframe.withColumn("id",col("id").cast("String"))\
                  .withColumn("name",col("name").cast("Integer")).printSchema()

root
 |-- id: string (nullable = true)
 |-- name: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- Company: string (nullable = true)
 |-- country: string (nullable = true)